/* ****************** */
/* HEADER SECTION */
/* ****************** */
.header-main {
  padding: 0 5rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.brand {
  display: inline-block;
}

.logo {
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.8rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #169cfd;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 1px solid #169cfd;
}
.buttons-div {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

/* ******************** */
/* SECTION HERO */
/* ******************** */
.section-hero {
  /* height: 50rem; */
  background-color: #f6f6f6;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #169cfd;
  padding: 2.4rem !important;
}

.form-container input {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 7px;
  font-size: 2rem;
}

.submit-btn {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem 1.8rem;
  background-color: #00487c;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2.8rem;
}

.hero-img {
  width: 130%;
}

/* ***************** */
/* SECTION JOBS */
/* ***************** */
.section-jobs {
  padding: 4.8rem 0;
}

.blue-span {
  color: #169cfd;
  display: block;
}

/* ***************** */
/* SECTION TESTIMONIALS */
/* ***************** */
.section-testimonials {
  padding: 4.8rem 0;
  background-color: #e7f5ff;
  text-align: center;
}

.card {
  background-color: white;
  padding: 4.8rem 3.2rem;
  border-radius: 1.2rem;
}

.customer-img {
  width: 50%;
  margin-bottom: 1.2rem;
}

.customer-name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* ***************** */
/* SECTION FEATURED-IN */
/* ***************** */
.section-featured-in {
  padding: 4.8rem 0;
  text-align: center;
}

.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-company-logo {
  display: inline-block;
  width: 10%;
}

/* ***************** */
/* SECTION FEATURED-IN */
/* ***************** */
.section-contact {
  background-color: #e7f5ff;
  margin-bottom: 4.8rem;
}

.section-contact .subheading {
  color: #169cfd;
}

.contact-text-box {
  width: 48rem;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  gap: 1.2rem;
}

.contact-form input {
  border: none;
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.contact-img-box img {
  width: 100%;
}

/* **************** */
/* SSECTION FOOTER */
/* **************** */

.section-footer {
  padding: 3.2rem;
  height: 32rem;
  background-image: url("../img/footer-img.png");
}

.footer-grid {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
  margin-bottom: 2rem !important;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.footer-link-heading {
  font-size: 1.6rem;
  font-weight: 600;
}

.footer-link:link,
.footer-link:visited {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.copyright-text {
  color: white;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright ion-icon {
  color: white;
  font-size: 2rem;
  margin-right: 1.2rem;
}

/* ******************** */
/* Post job page */
/* ******************** */
.section-post-form {
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 4.8rem 0;
}

.container-post {
  background-color: white;
  width: 90rem;
  margin: 0 auto;
}

.post-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
  background-color: #169cfd;
}

.post-form-container {
  padding: 4.8rem;
}

.post-form-container form label {
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  margin-bottom: 1.2rem;
}

.post-form-container form input,
.post-form-container select {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.4rem;
  margin-bottom: 1.6rem;
  border-radius: 3px;
  border: 1px solid #999;
}

#editor-desc,
#editor-req {
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 1.6rem;
}

.compensation {
  display: flex;
  gap: 1.2rem;
}

.compensation .to {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.form-submit:link,
.form-submit:visited {
  width: 100%;
  display: inline-block;
  background-color: #169cfd;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 1.6rem;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s;
}

.form-submit:hover,
.form-submit:active {
  background-color: rgba(22, 157, 253, 0.9);
}

/* ******************* */
/* JOBS PAGE */
/* ******************* */
.section-available-jobs {
  padding: 2.4rem;
}

.section-available-jobs .heading-primary {
  text-align: center;
  padding: 1.2rem;
  background-color: #e7f5ff;
}

.container-jobs {
  display: grid;
  grid-template-columns: 2.4fr 2.4fr 5.2fr;
  gap: 2.4rem;
}

.filters {
  border-radius: 3px;
  height: 100%;
  border: 1px solid black;

  height: 43rem !important;
}

.filters-form {
  padding: 1.2rem;
}

.filters label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.8rem;
}

.filters input {
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 3px;
  margin-bottom: 0.8rem !important;
  width: 100%;
  border: 1px solid #999;
}

.filters select {
  border: 1px solid #999;
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 3px;
  margin-bottom: 0.8rem !important;
  width: 100%;
}

.filters-heading {
  background-color: #169cfd;
  padding: 1.8rem;
  font-size: 1.8rem;
  color: white;
}

.job-cards {
  height: auto !important;
  height: 60rem !important;
  overflow: scroll;
}

.job-card {
  cursor: pointer;
  padding: 1.2rem;
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: 1.2rem;
}

.time-posted {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.job-title-card {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.company-name-card {
  color: #169cfd;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.compensation-card {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.job-type-card,
.job-location-card {
  font-weight: 600;
  font-size: 1.6rem;
}

.job-description {
  background-color: #e7f5ff;
}
